{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<head>
{% include 'main_app/head.html' %}
    <title>Document</title>
</head>
<body>
    {% include 'main_app/menu.html' %}
    <section>
        <div class="slider">
            <div class="slider__text">
                <h1>Посуточная аренда квартир <br> в Орехово-Зуево</h1>
                <h4>Более 15 вариантов размещения для туризма и командировок</h4>
            </div>
        </div>
    </section>
    <h1 class="apartments-title section-title">Наши апартаменты</h1>
    <div class="container">
        
    <section id="apartments">
        <div class="apartments-list">
            <ul>
                {% for apartment in apartments %}
                <li class="apartment-item">
                    <div class="apartment-item__image">
                        {%for i in apartment.image %}
                        <img src="{{i.photo.url}}">
                        {%endfor%}
                    </div>
                    <div class="apartment-item__address">
                        <a href="{%url 'apartment_detail' apartment.url %}"><h4>{{apartment.address}}</h4></a>
                    </div>
                    <div class="apartment-item__table">
                        <table>
                            <tbody>
                                <th><span class="th-title">Спальных мест</span>
                                    <br>
                                    <span class="th-text">{{apartment.sleeping_place}}</span>
                                </th>
                                <th><span class="th-title">Кол-во Кол-во комнат</span>
                                    <br>
                                    <span class="th-text">{{apartment.rooms}}</span>
                                </th>
                                <th><span class="th-title">Цена в сутки</span>
                                    <br>
                                    <span class="th-text">{{apartment.price}} Р</span>
                                </th>
                            </tbody>
                        </table>
                    </div>
                </li>
                {%endfor%}
            </ul>
        </div>
        <div class="apartments-button">
            <a href="{%url 'apartments'%}">Посмотреть все варианты</a>
        </div>
    </section>
    <h1 class="benefits-title section-title">Почему выбирают нас</h1>
    <div class="container">
        <section id="benefits">
            <ul>
               <li>
                   <div class="benefits__number">
                       <img src="{% static 'img/thumb.svg' %}" alt="">
                   </div>
                   <div class="benefits__text">
                       Гостиничные стандарты качества
                   </div>
               </li> 
               <li>
                <div class="benefits__number">
                    <img src="{% static 'img/documents1.svg' %}" alt="">
                </div>
                <div class="benefits__text">
                    Полный комплект документов
                </div>
            </li>
            <li>
                <div class="benefits__number">
                    <img src="{% static 'img/price.svg' %}" alt="">
                </div>
                <div class="benefits__text">
                    Доступные цены  
                </div>
            </li>
            <li>
                <div class="benefits__number">
                    <img src="{% static 'img/year.svg' %}" alt="">
                </div>
                <div class="benefits__text">
                    Безупречный сервис с 2019 года
                </div>
            </li>
            </ul>
        </section>
    </div>
    <h1 class="application-title section-title">Заявка на размещение</h1>
    <div class="container">
        <section id="application">
            <form id ="application-form">
                {% csrf_token %}
                
                <div id="send-application">Оставьте заявку, и мы свяжемся с Вами в ближайшее время</div>
                <div class="form-main">
                    <div class="dates">
                        <div class="form-date">
                            <div><label for="phone">Номер телефона</label></div>
                            {{form.phone}}
                        </div>
                        <div class="form-date">
                            <div><label for="name">Имя (необязательно)</label></div>
                            {{form.name}}
                        </div>
                    </div>
                    <div class="dates">
                        <div class="form-date">
                            <div><label for="date_start">Желаемая дата заеда</label></div>
                            {{form.date_start}}
                        </div>
                        <div class="form-date">
                            <div><label for="enddate">Желаемая дата выезда</label></div>
                            {{form.date_end}}
                        </div>
                    </div>
                    <div id="result"></div>
                    <div class="form-button">
                        <input type="submit" value="Отправить">
                    </div>
                </div>
            </form>
        </section>
    </div>
    </div>
    {% include 'main_app/footer.html' %}
</body>
</html>

<script>

    $("#application-form").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        console.log(serializedData)
        $.ajax({
            type: 'POST',
            url: "{% url 'application' %}",
            data: serializedData,
            success: function (response) {
                document.getElementById('application-form').reset();
                document.getElementById('result').innerHTML = "Ваше сообщение успешно отправлено. Мы свяжемся с Вами в ближайшее время."
            },
            error: function (response) {
                document.getElementById('result').innerHTML = "Произошла ошибка при отправке формы. Попробуйте еще раз."
            }
        })
    })

</script>

<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
    
            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>