* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #24252A;
}
li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #edf0f1;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
cursor: pointer;
}

.nav__links {
list-style: none;
}

.nav__links li {
display: inline-block;
padding: 0px 20px;
}

.nav__links li a {
transition: all 0.3s ease;
}

.nav__links li a:hover {
color: #0088a9;
}

button {
padding: 9px 25px;
border: none;
cursor: pointer;
transition: all 0.3s ease;
}

button:hover {

}

.container {
margin: 0 auto;
max-width: 1200px;
height: 3000px;
}

/* SLIDER */
.slider {
    max-height: 800px;
    height: 800px;
    background-image:
    linear-gradient(to bottom, rgba(36, 37, 42, 1) 0%,rgba(0,0,0,0.45) 100%),
    url("../img/ap.jpg");
    display: flex;
    background-position: bottom;
    align-items: center;
    justify-content: center;
}

.slider h1 {
    font-family: 'Roboto', sans-serif;
    color: #edf0f1;
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    border-bottom: 6px solid #ffee0a;
}

#apartments {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#apartments h1 {
    padding: 15px 0;
    width: 100%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    color: #edf0f1;
}

#apartments ul {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#apartments ul li {
    list-style: none;
}

